QPushButton{
	font: 12pt "Calibri Light";
    color: #2f3640;
    background-color: #e8f7e8;
    border-radius: 4px;
    border-width: 0px;
    padding: 5px;
    width: 40px;
    height: 40px;
}
QPushButton:hover{	
    background-color: #e2f7e2;
}
QPushButton:pressed,QPushButton:checked{
    background-color: #d3f7d2;
}
QPushButton:disabled{
    background-color: #f3f7f3;
}